<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="login-div">
        <h1>Enter Login Details</h1>
        <form action="" method="post">
            <input type="email" placeholder="Enter Email" required name="email">
            <input type="password" placeholder="Enter Password" required name="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>